@import 'smrt-vars.scss';
@import 'waiting.scss';

body {
	font-size: 16px;
	font-family: $font_stack;
	color: $smrt_blue;
	background-color: $smrt_bg;

	.other-players-row {
		text-align: center;
		background-color: $smrt_blue_fade;
		border-top: 1px solid $smrt_blue;
		border-bottom: 1px solid $smrt_blue;
		margin-right: 0;
		margin-left: 0;
		.other-player {
			padding-top: 0.4em;
			padding-bottom: 0.4em;
			margin-top: 0.2em;
			margin-bottom: 0.2em;
		}
		.other-player:nth-child(2) {
			border-left: 1px solid $smrt_blue;
			border-right: 1px solid $smrt_blue;
		}
	}
}