@import 'smrt-vars.scss';

body {
	font-size: 16px;
	font-family: $font_stack;
	color: $smrt_blue;
	background-color: $smrt_bg;

	/* GLOBAL GAME STYLES */
	.other-players-row {
		text-align: center;
		background-color: $smrt_l_grey;
		border-top: 1px solid $smrt_blue;
		border-bottom: 1px solid $smrt_blue;
		margin: 0.8rem 0;
		.other-player {
			padding-top: 0.2em;
			padding-bottom: 0.2em;
			margin-top: 0.2em;
			margin-bottom: 0.2em;
		}
		.other-player:nth-child(2) {
			border-left: 1px solid $smrt_blue;
			border-right: 1px solid $smrt_blue;
		}
	}

	.game-title {
		color: $smrt_teal;
		font-size: 1.5rem;
		text-align: center;
		//text-decoration: underline;
	}

	.dyk-row {
		padding: 0.4rem 0;
	}

	.timer-row {
		//padding: 0.6rem 0;
		text-align: center;
	}

	.play-now-row {
		padding: 0.4rem 0;
	}

	/*  'DID YOU KNOW' PANEL */
	.panel-dyk {
		text-align: center;
		margin-bottom: 0;
		.panel-heading {
			background-color: $smrt_blue;

			.panel-title {
				color: $smrt_white;
			}
		}
		.panel-body {
			background-color: $smrt_blue_fade;
		}
	}
	.simple-dyk {
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.waiting-room, .quiz-splash, .ctrl-splash, .end-splash {
		/* WAITING ROOM */
		.player-row {
			text-align: center;
			margin-top: 1em;

			.player-name {
				font-size: 1.5rem;
			}

			.player-score {
				font-size: 1.5rem;
			}
		}
	}

	.quiz {
		/* QUIZ PLAY */
		.question-header-row {
			padding-top: 0.8rem;
			padding-bottom: 0.4rem;
			.question-header {
				text-decoration: underline;
			}
		}
		
		.question-content-row {
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;
			.question-content {
				text-align: center;
			}
		}

		.quiz-options {
			border-top: 1px solid $smrt_blue;
	        border-bottom: 1px solid $smrt_blue;
			
			.option {
				color: $smrt_blue;
				background-color: $smrt_white;
			}
			.option:hover{
				color: $smrt_blue;
				background-color: $smrt_white;
			}
			.option:focus, .option:active {
				color: $smrt_blue;
				background-color: $smrt_blue_fade;
			}

			/* ANSWER COLOURS */

			.rightAnswer, .rightAnswer:hover, .rightAnswer:active, .rightAnswer:focus {
				background-color: $ans_correct_bg;
			}
			.wrongAnswer, .wrongAnswer:hover, .wrongAnswer:active, .wrongAnswer:focus {
				background-color: $ans_incorrect_bg;
			}
		}

		.timer-row {
			padding-top: 0;
		}
	}

	#quizbtm {
		.player-row {
			text-align: center;
			margin-top: 0.6em;

			.player-name {
				font-size: 1.2rem;
			}

			.player-score {
				font-size: 1.2rem;
			}
		}
	}
}
body.end-game {
	background-image: url('../img/smrt-bg-transp.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	#quizbtm {
			display: none;
	}

	.quiz-end {
		
		.bottom-buttons {
			margin-top: 1.5rem;
		}
		.ctrl-splash{
			.description {
				h3 {
					line-height: 1.5em;
				}
			}
		}
		.end-splash {
			margin-top: 1rem;
			.back-home-row {
				padding: 0.4rem 0;
				.btn {
					background-color: $smrt_teal;
					color: $smrt_white;
					border: none;
				}
			}
			.donate-row {
				padding: 0.4rem 0;
				.btn {
					background-color: $smrt_yellow;
					color: $smrt_white;
					border: none;
				}
			}
		}

		.ctrl {
			.routine-opt-row {
				margin-top: 1.5rem;
				text-align: center;
			}

			.routine-opt {
				transition: all 100ms linear;
				-webkit-transition: all 100ms linear;
			}	
			input[type="radio"] {
				display: none;
			}
			input[type="radio"] + label {
				display: inline-block;
				width: 100%;
				font-size: 1rem;
				line-height: 1.5rem;
				padding: 0.8rem 0.6rem;
				margin: 0.5rem 0.2rem;
				background-color: $smrt_l_grey;
				border: 1px solid $smrt_light_blue;
				border-radius: 2.5rem;
				font-weight: lighter;
				cursor: pointer;
			}
			input[type="radio"].checked + label {
				background-color: $smrt_light_blue;
				border: 1px solid $smrt_blue;
				color: $smrt_blue;
			}
		}
	}
}








