/* Colours */
$smrt_bg: #F2F6FC;
$smrt_blue: #1D4381;
$smrt_blue_fade: #D1DBE9;
$smrt_blue_transp: rgba(29,67, 129, 0.20);
$smrt_teal: #19838E;
$smrt_light_blue: #6C91CD;
$smrt_white: #fafafa;
$smrt_l_grey: #f2f2f2;
$smrt_yellow: #CF9925;


$ans_correct: #A1CD24;
$ans_incorrect: #8E3A2E;
$ans_correct_bg: #D6E8A4;
$ans_incorrect_bg: #D9C0BC;

$font_stack: "Open Sans", "Helvetica Neue", "Roboto Light", "Arial", sans-serif;
$secondary_font: "Raleway", "Lato", "Trebuchet", sans-serif;

/* Player Colours */
$player_1: $smrt_teal; // Blue
$player_2: $smrt_yellow; // Red
$player_3: #CC3525; // Green
$player_4: #9013FE; // Yellow
$empty_player: #9B9B9B; // Grey


// old blue #2565CC
// old red #CC3525
// old green #A1CD24
// old yellow #CF9925