@import 'smrt-vars.scss';

body {
	background-image: url('../img/smrt-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.play-row {
		margin: 0 0 2rem 0; 
		.play {
			.full {
				opacity: 50%;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.game-full {
		text-align: center;
		font-size: 1rem;
		padding: 6px 4px;
		background-color: $smrt_blue_transp;
		color: $smrt_blue;
		border-radius: 4px;
		border: 1px solid $smrt_blue;
	}
	
	.make-it-rain-row {
		margin: 1.5rem 0;
	}

	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		margin: 0;
		padding-bottom: 1rem;
		font-weight: normal;

		a {
			padding: 0.4rem;

		}

		#sign-in a {
			color: $smrt_blue;
		}

		#scores a {
			color: $smrt_teal;
		}

		#donate a {
			color: $smrt_yellow;
			font-weight: bold;
		}
	}

	#alert-row {
		position: absolute;
		bottom: 0;
		padding: 0 15px;
	}
}