@import 'smrt-style.scss';

body {
	background-image: url('../img/smrt-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.header-row {
		margin: 0;
		.header {
			background-image: url('../img/large_header_logo.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			
			height: 92px;
			margin-bottom: 41px
		}
	}

	.play-row {
		margin: 1.5rem 0;
		.play {
			.full {
				opacity: 50%;
			}
			.full:after {
				content: 'The game is currently full'
			}
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	
	.make-it-rain-row {
		margin: 1.5rem 0;
	}
}