@import 'smrt-vars.scss';

body {

	.player-row {
		text-align: center;
		margin-top: 1.5em;
		.player-name {
			font-size: 1.5rem;
		}
	}

	.dyk-row {
		padding: 1.2rem 0;
	}

	.timer-row {
		text-align: center;
	}

	.play-now-row {
		padding: 1.2rem 0;
	}

}