<div class="row text-center player-row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

{% if player.game.winner == player %}
		<div class="game-title">You Won!</div>
		<div class="player-score player_{{ player.symbol }}">{{ player.score }}pts</div>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
</div>
{% else %}
		<div class="game-title">You Lost :(</div>
		<div class="player-score player_{{ player.symbol }}">{{ player.score }}pts</div>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
</div>
{% end %}

	<!-- PLAYER LIST -->
	<div class="row other-players-row">
	  {% for otherPlayer in player.game.players %}
	      {% if otherPlayer.symbol != player.symbol %}
	          <div class="other-player player_{{otherPlayer.symbol}} col-xs-4 col-sm-4 col-md-4 col-lg-4">
	              PLΛYER {{otherPlayer.symbol}}
	              <br/>
	                {{ otherPlayer.score }}pts
	          </div>
	      {% end %}
	  {% end %}
	  {% if len(player.game.players) < 4 %}
	      {% for x in range(4 - len(player.game.players)) %}
	          <div class="other-player empty_player col-xs-4 col-sm-4 col-md-4 col-lg-4">
	              empty<br/>seat
	          </div>
	      {% end %}
	  {% end %}
	</div>

	<div class="bottom-buttons">
		<div class="row back-home-row">
			<div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
			<div class="make-it-rain col-xs-8 col-sm-8 col-md-6 col-lg-4">
				<a class="btn btn-block btn-default btn-round" href="../"role="button">HOME</a>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
		</div>
		<div class="row donate-row">
			<div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
			<div class="make-it-rain col-xs-8 col-sm-8 col-md-6 col-lg-4">
				<a class="btn btn-block btn-default btn-round" href="https://newsite.ewb.ca/donate" target="_blank" role="button">DONΛTE</a>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
		</div>
	</div>