{% if player.game.controlMode == 'pre' and player.game.winner == player %}
	<h1> You can now control the fountain for 30 seconds (control begins in 5 seconds) </h1>
{% elif player.game.controlMode == 'control' and player.game.winner == player %}
	<h1> You are now controlling the fountain for 30 seconds </h1>
{% else %}
	{% if player.game.winner == player %}
		<h1> you won! </h1>
	{% else %}
		<h1> you lost and somebody cooler than you has control </h1>
	{% end %}
	<a href="../">Home</a><br />
	<a href="https://secure.peta.org/site/Donation2;jsessionid=1F044AEF45F05C049448A745CDC16A84.app314a?df_id=12528&12528.donation=form1&set.custom.Campaign_Code=I13JWAXXXXG&autologin=true">Donate</a>
{% end %}