	<!-- No scaling on mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Disable tap highlights on Windows -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Raleway:300,400' rel='stylesheet' type='text/css'>
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!-- Custom Styles -->
	<link rel="stylesheet" type="text/css" href="/static/css/smrt-style.css">