{{ player.forget() or '' }}
{% if player.game.grid %}
	{% if player.game.grid == 'start'%}
		<div class="quiz-splash">
		{% include "start_game.html" %}
    {% elif player.game.grid == 'end' %}
        <div class="quiz-end">
        {% include "end_game.html" %}
	{% else %}
    	<!-- if there is a game, we include the game template -->
    	<div class="quiz">
    	{% include "quiz.html" %}
    {% end %}
{% else %}
    <!-- otherwise, we show the waiting room -->
    <div class="waiting-room">
    {% include "waitingRoom.html" %}
{% end %}
</div>