<html>
<head>
    <title>You are Player {{ player.symbol }}</title>
    {% include "global_head.html" %}

    <link rel="stylesheet" type="text/css" href="/static/css/game.css">
    <script type="text/javascript" src="/static/js/game.js"></script>
    
</head>

<body>
    <div class="clearfix">
        <div id="grid"></div>
        
        <!-- FIXED TO BOTTOM -->
        <div id="quizbtm" class="fix-to-bottom">

        </div>
        <div id="messages" style="overflow: scroll; height: 300px; display: none;"></div>
    </div>
</body>
