<html>
<head>
    <title>You are Player {{ player.symbol }}</title>
    {% include "global_head.html" %}

    <link rel="stylesheet" type="text/css" href="/static/css/game.css">
    <script type="text/javascript" src="/static/js/game.js"></script>
    
</head>

<body>
    <div class="clearfix">
        <div id="grid"></div>
        
        <!-- FIXED TO BOTTOM -->
        
        <div class="fix-to-bottom">
        	<div id="quizbtm"></div>
			<div class="row timer-row">
		    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        			{% include "radialTimer.html" %}
        		</div>
        	</div>
        </div>
        <div id="messages" style="overflow: scroll; height: 300px; display: none;"></div>
    </div>
</body>
