{% if player.game.winner %}
<!-- Nothing is fixed to the bottom -->

{% elif player.game.grid %}
    <!-- FIXED TO BOTTOM -->
      <!-- PLAYER NAME & SCORE -->
      <div class="row player-row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="player-name player_{{ player.symbol }}">
                  <span class="player-dot"></span>PLΛYER {{ player.symbol }}
              </div>
              <div class="player-score player_{{ player.symbol }}">{{ player.score }}pts</div>
          </div>
      </div>
  </div>

  {% if (player.guess >= 0) or player.correct == False or player.correct == True %}
  <!-- OTHER PLAYERS -->
  <div class="row other-players-row">
      {% for otherPlayer in player.game.players %}
          {% if otherPlayer.symbol != player.symbol %}
              <div class="other-player player_{{otherPlayer.symbol}} col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  PLΛYER {{otherPlayer.symbol}}
                  <br/>
                  {% if otherPlayer.guess >= 0 %}
                    {{ otherPlayer.score }}pts
                  {% else %}
                    waiting...
                  {% end %}
              </div>
          {% end %}
      {% end %}
      {% if len(player.game.players) < 4 %}
          {% for x in range(4 - len(player.game.players)) %}
              <div class="other-player empty_player col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  empty<br/>seat
              </div>
          {% end %}
      {% end %}
  </div>
  <script type="text/javascript">
    showLinearTimer();
  </script>
  {% end %}
{% else %}
{% end %}