<h1>{{player.game.grid['q']}}</h1>

{% if player.correct == True %}
<h3> Correct! </h3>
{% for answer in player.game.grid['a'] %}
  {% if answer == player.game.rightAnswer %}
  	<span style="color: green;">
  {% else %}
  	<span>
  {% end %}
  	{{answer}}</span>
{% end %}

{% elif player.correct == False %}
<h3> Wrong! </h3>
{% for answer in player.game.grid['a'] %}
  {% if answer == player.game.rightAnswer %}
  	<span style="color: green;">
  {% elif answer == player.guess %}
  	<span style="color: red;">
  {% else %}
  	<span>
  {% end %}
  	{{answer}}</span>
{% end %}


{% else %}

{% for answer in player.game.grid['a'] %}
  <a href="#" onclick="ws.send('{{ player.remember(player.make_guess, answer) }}');return false;">{{answer}}</a>
{% end %}

{% end %}