<div class="row question-header-row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
  <div class="question-header col-xs-10 col-sm-10 col-md-10 col-lg-10">
    Question {{ player.game.grid['idx'] + 1 }}
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>

<div class="row question-content-row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
  <div class="question-content col-xs-10 col-sm-10 col-md-10 col-lg-10">
    {{player.game.grid['q']}}
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>


<div class="list-group quiz-options">

{% for a, answer in enumerate(player.game.grid['opt']) %}

  <a type="button" class="list-group-item option" id="option_{{a}}" href="#" onclick="ws.send('{{ player.remember(player.make_guess, a) }}');return false;">
  {{answer}}
  </a>

  {% if player.correct == True %}
    <!-- Hide all false answers -->
    <script type="text/javascript">
      {% if a == player.game.rightAnswer %}
          $('#option_{{a}}').addClass('rightAnswer');
      {% else %}
        $('#option_{{a}}').slideUp(optSlideTime);
      {% end %}
        // and remove interactivity from these elements
        $('.option').attr('type', '').attr('onclick', '').unbind();
    </script>

  {% elif player.correct == False %}
    <!-- Hide all other answers -->
    <script type="text/javascript">
      {% if a == player.game.rightAnswer %}
            $('#option_{{a}}').addClass('rightAnswer');
        {% elif a == player.guess %}
            $('#option_{{a}}').addClass('wrongAnswer');
        {% else %}
          $('#option_{{a}}').slideUp(optSlideTime);
      {% end %}
        // and remove interactivity from these elements
        $('.option').attr('type', '').attr('onclick', '').unbind();
    </script>
  {% else %}
  {% end %}

{% end %}
</div>

{% if player.correct == True or player.correct == False %}
<!-- DID YOU KNOW -->
<div class="row dyk-row simple-dyk-row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="simple-dyk" style="display: none;">
          {{ player.game.grid['dyk'] }}
        </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>
<script type="text/javascript">
  setTimeout(function(){
    $('.simple-dyk').fadeIn(dykFadeTime);
  }, optSlideTime/1.5);
</script>
{% end %}

<!-- FIXED TO BOTTOM -->
<div class="fix-to-bottom">
  <!-- PLAYER NAME & SCORE -->
  <div class="row player-row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="player-name player_{{ player.symbol }}">
              <span class="player-dot"></span>PLΛYER {{ player.symbol }}
          </div>
          <div class="player-score player_{{ player.symbol }}">{{ player.score }}pts</div>
      </div>
  </div>

  {% if player.guess or player.correct == False %}
  <!-- OTHER PLAYERS -->
  <div class="row other-players-row">
      {% for otherPlayer in player.game.players %}
          {% if otherPlayer.symbol != player.symbol %}
              <div class="other-player player_{{otherPlayer.symbol}} col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  PLΛYER {{otherPlayer.symbol}}
                  <br/>
                  {% if otherPlayer.guess %}
                    {{ otherPlayer.score }}pts
                  {% else %}
                    waiting...
                  {% end %}
              </div>
          {% end %}
      {% end %}
      {% if len(player.game.players) < 4 %}
          {% for x in range(4 - len(player.game.players)) %}
              <div class="other-player empty_player col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  empty<br/>seat
              </div>
          {% end %}
      {% end %}
  </div>

  {% else %}
  <!-- TIMER -->
  <div class="row timer-row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% set timerTitle = "" %}
        {% include "radialTimer.html" %}
      </div>
  </div>
  <script type="text/javascript"> resetTimer(15); </script>
  {% end %}
</div>