<html>
<head>
	<title>SMRT WATR - Home</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- No scaling on mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Disable tap highlights on Windows -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Raleway:300,400' rel='stylesheet' type='text/css'>
		<!-- jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Page specific style Styles -->
	<link rel="stylesheet" type="text/css" href="/static/css/splash.css">

	<!-- <script type="text/javascript" src="/static/swfobject.js"></script>
	<script type="text/javascript" src="/static/FABridge.js"></script>
	<script type="text/javascript" src="/static/web_socket.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
-->
	<script>
	WebSocket.__swfLocation = "/static/WebSocketMain.swf";

	function update_players() {
	    $('#play').load('http://' + location.hostname + ':' + location.port + '/openplayers');
	}

	$(document).ready(function() {
	    
	    gws = new WebSocket('ws://' + location.hostname + ':' + location.port + '/game/ws')

	    gws.onmessage = function(msg) {
	        update_players();
	    }

	    update_players();
	});
	</script>

</head>
<body>
<div class="clearfix">
	<div class="row header-row">
		<div class="header splash col-xs-12 col-sm-12 col-md-12 col-lg-12">
	</div>
	</div>
	<div class="row play-row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
		<div class="play col-xs-4 col-sm-4 col-md-4 col-lg-4" id="play">
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	</div>
	<div class="row make-it-rain-row">
		<div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
		<div class="make-it-rain col-xs-8 col-sm-8 col-md-6 col-lg-4">
			<a class="btn btn-block btn-default btn-lblue btn-round" href="#" role="button">MΛKE IT RΛIN</a>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
	</div>
</div>
</body>
