<div class="row">
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		<img src="/static/img/large_header_logo.png" width="100%;">
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>

<!-- PLAYER NAME -->
<div class="row player-row player-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>Playing as</div>
        <div class="player-name player_{{ player.symbol }}">
            <span class="player-dot"></span>PLΛYER {{ player.symbol }}
        </div>
    </div>
</div>

<div class="row text-center">
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		<h1>Get Ready!</h1>
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>

<div class="row text-center">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3>Answer these 3 questions as fast as you can</h3>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>

<!-- OTHER PLAYERS -->
<!-- <div class="small-title"><h6>With:</h6></div>
<div class="row other-players-row">
    {% for otherPlayer in player.game.players %}
        {% if otherPlayer.symbol != player.symbol %}
            <div class="other-player player_{{otherPlayer.symbol}} col-xs-4 col-sm-4 col-md-4 col-lg-4">
                PLΛYER {{otherPlayer.symbol}}
            </div>
        {% end %}
    {% end %}
    {% if len(player.game.players) < 4 %}
        {% for x in range(4 - len(player.game.players)) %}
            <div class="other-player empty_player col-xs-4 col-sm-4 col-md-4 col-lg-4">
                open...
            </div>
        {% end %}
    {% end %}
</div> -->

<!-- TIMER -->
<script type="text/javascript">
	showRadialTimer();
	resetTimer(5);
</script>
</div>