/* Colours */
body {
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", "Roboto Light", "Arial", sans-serif;
  color: #1D4381;
  background-color: #F2F6FC;
  /* GLOBAL GAME STYLES */
  /*  'DID YOU KNOW' PANEL */ }
  body .other-players-row {
    text-align: center;
    background-color: #f2f2f2;
    border-top: 1px solid #1D4381;
    border-bottom: 1px solid #1D4381;
    margin: 0;
    margin-top: 0.8rem; }
    body .other-players-row .other-player {
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      margin-top: 0.2em;
      margin-bottom: 0.2em; }
    body .other-players-row .other-player:nth-child(2) {
      border-left: 1px solid #1D4381;
      border-right: 1px solid #1D4381; }
  body .progress {
    margin: 0; }
  body .game-title {
    color: #19838E;
    font-size: 1.5rem;
    text-align: center; }
  body .dyk-row {
    padding: 0.4rem 0; }
  body .timer-row {
    text-align: center; }
  body .play-now-row {
    padding: 0.4rem 0; }
  body .panel-dyk {
    text-align: center;
    margin-bottom: 0; }
    body .panel-dyk .panel-heading {
      background-color: #1D4381; }
      body .panel-dyk .panel-heading .panel-title {
        color: #fafafa; }
    body .panel-dyk .panel-body {
      background-color: #D1DBE9;
      border-radius: 4px; }
  body .simple-dyk {
    padding: 1rem 0.5rem;
    margin: 0;
    text-align: center;
    background-color: #D1DBE9; }
  body .waiting-room, body .quiz-splash, body .ctrl-splash, body .end-splash {
    /* WAITING ROOM */ }
    body .waiting-room .player-row, body .quiz-splash .player-row, body .ctrl-splash .player-row, body .end-splash .player-row {
      text-align: center;
      margin-top: 1em; }
      body .waiting-room .player-row .player-name, body .quiz-splash .player-row .player-name, body .ctrl-splash .player-row .player-name, body .end-splash .player-row .player-name {
        font-size: 1.5rem; }
      body .waiting-room .player-row .player-score, body .quiz-splash .player-row .player-score, body .ctrl-splash .player-row .player-score, body .end-splash .player-row .player-score {
        font-size: 1.5rem; }
  body .quiz {
    /* QUIZ PLAY */ }
    body .quiz .question-header-row {
      padding-top: 0.8rem;
      padding-bottom: 0.4rem; }
      body .quiz .question-header-row .question-header {
        text-decoration: underline; }
    body .quiz .question-content-row {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem; }
      body .quiz .question-content-row .question-content {
        text-align: center; }
    body .quiz .quiz-options {
      border-top: 1px solid #1D4381;
      border-bottom: 1px solid #1D4381;
      /* ANSWER COLOURS */ }
      body .quiz .quiz-options .option {
        color: #1D4381;
        background-color: #fafafa; }
      body .quiz .quiz-options .option:hover {
        color: #1D4381;
        background-color: #fafafa; }
      body .quiz .quiz-options .option:focus, body .quiz .quiz-options .option:active {
        color: #1D4381;
        background-color: #D1DBE9; }
      body .quiz .quiz-options .rightAnswer, body .quiz .quiz-options .rightAnswer:hover, body .quiz .quiz-options .rightAnswer:active, body .quiz .quiz-options .rightAnswer:focus {
        background-color: #D6E8A4; }
      body .quiz .quiz-options .wrongAnswer, body .quiz .quiz-options .wrongAnswer:hover, body .quiz .quiz-options .wrongAnswer:active, body .quiz .quiz-options .wrongAnswer:focus {
        background-color: #D9C0BC; }
    body .quiz .timer-row {
      padding-top: 0; }
  body #quizbtm .player-row {
    text-align: center;
    margin-top: 0.6em; }
    body #quizbtm .player-row .player-name {
      font-size: 1.2rem; }
    body #quizbtm .player-row .player-score {
      font-size: 1.2rem; }

body.end-game {
  background-image: url("../img/smrt-bg-transp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  body.end-game #quizbtm {
    display: none; }
  body.end-game .quiz-end .bottom-buttons {
    margin-top: 1.5rem; }
  body.end-game .quiz-end .ctrl-splash .description h3 {
    line-height: 1.5em; }
  body.end-game .quiz-end .end-splash {
    margin-top: 1rem; }
    body.end-game .quiz-end .end-splash .back-home-row {
      padding: 0.4rem 0; }
      body.end-game .quiz-end .end-splash .back-home-row .btn {
        background-color: #19838E;
        color: #fafafa;
        border: none; }
    body.end-game .quiz-end .end-splash .donate-row {
      padding: 0.4rem 0; }
      body.end-game .quiz-end .end-splash .donate-row .btn {
        background-color: #CF9925;
        color: #fafafa;
        border: none; }
  body.end-game .quiz-end .ctrl .routine-opt-row {
    margin-top: 1.5rem;
    text-align: center; }
  body.end-game .quiz-end .ctrl .routine-opt {
    transition: all 100ms linear;
    -webkit-transition: all 100ms linear; }
  body.end-game .quiz-end .ctrl input[type="radio"] {
    display: none; }
  body.end-game .quiz-end .ctrl input[type="radio"] + label {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.8rem 0.6rem;
    margin: 0.5rem 0.2rem;
    background-color: #f2f2f2;
    border: 1px solid #6C91CD;
    border-radius: 2.5rem;
    font-weight: lighter;
    cursor: pointer; }
  body.end-game .quiz-end .ctrl input[type="radio"].checked + label {
    background-color: #6C91CD;
    border: 1px solid #1D4381;
    color: #1D4381; }

/*# sourceMappingURL=game.css.map */
